In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
!pip3 install xgboost

Collecting xgboost
  Downloading xgboost-1.6.2-py3-none-macosx_10_15_x86_64.macosx_11_0_x86_64.macosx_12_0_x86_64.whl (1.7 MB)
     |████████████████████████████████| 1.7 MB 11.9 MB/s eta 0:00:01
Requirement already satisfied: numpy in /Users/gimtaeyong/opt/anaconda3/lib/python3.9/site-packages (from xgboost) (1.21.5)
Requirement already satisfied: scipy in /Users/gimtaeyong/opt/anaconda3/lib/python3.9/site-packages (from xgboost) (1.7.3)
Installing collected packages: xgboost
Successfully installed xgboost-1.6.2

In [1]:
import pandas as pd
from xgboost import XGBClassifier

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score

In [2]:
path_train = "./train_data_1.csv"
path_val = "./val_data_1.csv"
# path_test = "./test_data.csv"
# path_val = "./val_data_0.csv"

In [3]:
data_train = pd.read_csv(path_train)
# data_val = pd.read_csv(path_val)
data_test = pd.read_csv(path_val)

print(data_train.shape)
# print(data_val.shape)
print(data_test.shape)
data_test.head(10)

(2595852, 58)
(648963, 58)

,application_id,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied,user_id,birth_year,gender,...,insert_time_minute,personal_rehabilitation_yn_0,personal_rehabilitation_yn_1,personal_rehabilitation_yn_2,personal_rehabilitation_complete_yn_0,personal_rehabilitation_complete_yn_1,personal_rehabilitation_complete_yn_2,personal_rehabilitation_complete_yn_3,company_enter_month_year,company_enter_month_month
0,28586.0,2022-05-06 19:15:56,55.0,25.0,36000000.0,17.9,0.0,198106.0,1960.0,1.0,...,15,1,0,0,0,0,1,0,1970.0,1.0
1,2049434.0,2022-04-14 13:30:12,57.0,71.0,35000000.0,9.6,1.0,469357.0,1982.0,1.0,...,30,0,0,1,0,0,0,1,1970.0,1.0
2,1318712.0,2022-05-24 15:05:56,30.0,114.0,29000000.0,13.8,0.0,561933.0,1972.0,1.0,...,5,1,0,0,0,0,1,0,1970.0,1.0
3,1925948.0,2022-04-09 15:53:52,34.0,215.0,20000000.0,16.9,0.0,734518.0,1998.0,0.0,...,53,0,0,1,0,0,0,1,1970.0,1.0
4,1760956.0,2022-03-12 17:11:44,11.0,170.0,49000000.0,12.3,0.0,856643.0,1982.0,1.0,...,11,0,0,1,0,0,0,1,1970.0,1.0
5,403328.0,2022-05-15 12:10:14,63.0,226.0,49000000.0,11.7,0.0,807807.0,1991.0,1.0,...,10,1,0,0,0,0,1,0,1970.0,1.0
6,1892928.0,2022-03-05 10:52:18,24.0,229.0,12000000.0,9.3,0.0,30269.0,1977.0,0.0,...,52,0,0,1,0,0,0,1,1970.0,1.0
7,425786.0,2022-04-05 09:22:17,33.0,110.0,34000000.0,13.5,0.0,396400.0,1988.0,1.0,...,22,0,0,1,0,0,0,1,1970.0,1.0
8,517702.0,2022-05-02 18:04:22,62.0,48.0,10000000.0,7.1,0.0,462947.0,1987.0,0.0,...,4,1,0,0,0,0,1,0,1970.0,1.0
9,1233364.0,2022-03-10 14:37:04,37.0,206.0,24000000.0,19.9,0.0,689999.0,1999.0,1.0,...,37,0,0,1,0,0,0,1,1970.0,1.0

In [5]:
X_train = data_train.drop(["is_applied"], axis=1)
y_train = data_train["is_applied"]
# X_val = data_val.drop(["is_applied"], axis=1)
# y_val = data_val["is_applied"]
X_test = data_test.drop(["is_applied"], axis=1)
y_test = data_test["is_applied"]

In [6]:
# X_val = X_val.drop(["loanapply_insert_time", "insert_time", "company_enter_month"])
X_train = X_train.drop(["loanapply_insert_time"], axis=1)
X_train = X_train.drop(["insert_time"], axis=1)
X_train = X_train.drop(["company_enter_month"], axis=1)

X_test = X_test.drop(["loanapply_insert_time"], axis=1)
X_test = X_test.drop(["insert_time"], axis=1)
X_test = X_test.drop(["company_enter_month"], axis=1)

# y_val = y_val.drop(["loanapply_insert_time", "insert_time", "company_enter_month"])

In [9]:
xgb = XGBClassifier(random_state=0)
xgb.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, ...)

In [10]:
# X_test.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [12]:
pred = xgb.predict(X_test)
print("정확도 :{0:.7f}".format(accuracy_score(y_test, pred)))

정확도 :0.9488045

In [30]:
import joblib

In [31]:
joblib.dump(rf, "./random_forest_data_0.joblib")

['./random_forest_data_0.joblib']

In [34]:
loaded_rf = joblib.load("./random_forest_data_0.joblib")

In [35]:
pred = loaded_rf.predict(X_test)
print("정확도 :{0:.7f}".format(accuracy_score(y_test, pred)))

정확도 :0.9677640